<figure class="phone-img">
    <img src="{{phone.phoneDescription.imgSrc}}">
</figure>
<table>
    <caption>Основные характеристики телефона {{phone.phoneDescription.model}}</caption>
    <tbody>
        <tr>
            <td>Класс</td>
            <td>{{phone.phoneDescription.level}}</td>
        </tr>
        <tr>
            <td>Год выпуска</td>
            <td>{{phone.phoneDescription.date}}</td>
        </tr>
        <tr>
            <td>Стандарт</td>
            <td>{{phone.phoneDescription.technology}}</td>
        </tr>
        <tr>
            <td>Аккумулятор</td>
            <td>{{phone.phoneDescription.battery}}</td>
        </tr>
        <tr>
            <td>Время работы</td>
            <td>{{phone.phoneDescription.workTime}}</td>
        </tr>
        <tr>
            <td>Дисплей</td>
            <td>{{phone.phoneDescription.display}}</td>
        </tr>
        <tr>
            <td>Вес</td>
            <td>{{phone.phoneDescription.weight}}</td>
        </tr>
        <tr>
            <td>Размеры</td>
            <td>{{phone.phoneDescription.dimensions}}</td>
        </tr>
    </tbody>
</table>
<p>{{phone.phoneDescription.description}}</p>